<div class="action-btns"></div>
<div class="table-wrapper">
  <table class="table-base">
    <thead class="">
      <tr class="">
        <th scope="col">Type</th>
        <th scope="col">Name/Gender</th>
        <th scope="col">Contact</th>
        <th scope="col">DOB</th>
        <th scope="col">Profession</th>
        <th scope="col">Place of Birth</th>
        <th scope="col">PIN Code</th>
        <th scope="col">Current Address</th>
        <th scope="col">Message</th>
        <th scope="col" class="text-center">Status</th>
        <th scope="col" class="text-center">Payment Status</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of item_list">
        <tr>
          <td>
            {{ item?.type | uppercase }}
          </td>
          <td>
            {{ item?.name }} <b class="block">{{ item?.gender | titlecase }}</b>
          </td>
          <td>{{ item?.email }} {{ item?.phone }}</td>
          <td>{{ item?.dob | date : "dd/MM/yyyy" }} {{ item?.time }}</td>
          <td>{{ item?.occupation }}</td>
          <td>
            <div
              [innerHTML]="item.place"
              [appReadMoreClamp]="110"
              readMoreLabel="Read More"
              readLessLabel="Read Less"
            ></div>
          </td>
          <td>{{ item?.postcode }}</td>
          <td>
            <div
              [innerHTML]="item.current_address"
              [appReadMoreClamp]="110"
              readMoreLabel="Read More"
              readLessLabel="Read Less"
            ></div>
          </td>
          <td>
            <div
              [innerHTML]="item.purpose"
              [appReadMoreClamp]="110"
              readMoreLabel="Read More"
              readLessLabel="Read Less"
            ></div>
          </td>

          <td class="text-center">
            <span class="table-status" [class]="item?.status">
              {{ item?.status }}
            </span>
          </td>
          <td class="text-center">
            <span class="table-status" [class]="item?.payment?.status">
              {{ item?.payment?.status }}
            </span>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!item_list?.length">
        <tr>
          <td class="text-center" colspan="9">No Items Found</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-container>
  <pagination
    [pagination]="paginationOption"
    (pageChange)="onPageChange($event)"
  ></pagination>
</ng-container>
