<div class="fixed inset-0 overflow-hidden">
  <div class="absolute inset-0 overflow-hidden">
    <div
      class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10"
    >
      <div class="pointer-events-auto relative w-screen max-w-md">
        <div class="flex h-full flex-col overflow-y-scroll bg-white shadow-xl">
          <h2 class="header" id="slide-over-title">
            {{ data ? "Update" : "New" }} Coupon
            <button color="warn" mat-dialog-close mat-icon-button>
              <mat-icon class="text-red-700">close</mat-icon>
            </button>
          </h2>
          <div class="add-wrapper relative my-3 flex-1 px-4 sm:px-6">
            <form [formGroup]="formGroup" class="space-y-3">
              <mat-form-field>
                <mat-label>Coupon Code </mat-label>
                <input matInput formControlName="code" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Title </mat-label>
                <input matInput formControlName="title" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Description</mat-label>
                <textarea
                  matInput
                  rows="2"
                  formControlName="description"
                ></textarea>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Discount Type </mat-label>
                <mat-select formControlName="discount_type">
                  <mat-option value="percentage">Percentage</mat-option>
                  <mat-option value="fixed">Fixed</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Discount Value </mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="discount_value"
                />
              </mat-form-field>

              <mat-form-field
                *ngIf="formGroup.value.discount_type === 'percentage'"
              >
                <mat-label>Max Discount Amount</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="max_discount_amount"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Applicable For </mat-label>
                <mat-select formControlName="applicable_for">
                  <mat-option value="user">User</mat-option>
                  <mat-option value="channel_partner"
                    >Channel Partner</mat-option
                  >
                  <mat-option value="both">Both</mat-option>
                </mat-select>
              </mat-form-field>

              <mat-form-field>
                <mat-label>Applicable Scope</mat-label>
                <mat-select formControlName="applicable_scope">
                  <mat-option value="all">All</mat-option>
                  <mat-option value="product">Product</mat-option>
                  <mat-option value="variation">Variation</mat-option>
                  <mat-option value="category">Category</mat-option>
                  <mat-option value="brand">Brand</mat-option>
                </mat-select>
              </mat-form-field>

              <!-- CONDITIONAL SELECTORS -->
              <ng-select
                *ngIf="formGroup.value.applicable_scope === 'product'"
                [items]="products"
                bindLabel="name"
                bindValue="_id"
                [multiple]="true"
                formControlName="applicable_products"
                placeholder="Select Products"
              [ariaLabel]="'Select Products'">
              </ng-select>

              <ng-select
                *ngIf="formGroup.value.applicable_scope === 'category'"
                [items]="categories"
                bindLabel="name"
                bindValue="_id"
                [multiple]="true"
                formControlName="applicable_categories"
                placeholder="Select Categories"
              [ariaLabel]="'Select Categories'">
              </ng-select>

              <ng-select
                *ngIf="formGroup.value.applicable_scope === 'brand'"
                [items]="brands"
                bindLabel="name"
                bindValue="_id"
                [multiple]="true"
                formControlName="applicable_brands"
                placeholder="Select Brands"
              [ariaLabel]="'Select Brands'">
              </ng-select>

              <ng-select
                *ngIf="formGroup.value.applicable_scope === 'variation'"
                [items]="variations"
                bindLabel="sku"
                bindValue="_id"
                [multiple]="true"
                formControlName="applicable_variations"
                placeholder="Select Variations"
              [ariaLabel]="'Select Variations'">
              </ng-select>
              <mat-form-field>
                <mat-label>Minimum Cart Value</mat-label>
                <input
                  matInput
                  type="number"
                  amountNumber
                  min="0"
                  formControlName="min_cart_value"
                  placeholder="₹0"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Usage Limit (Global)</mat-label>
                <input
                  matInput
                  numbersOnly
                  type="number"
                  formControlName="usage_limit"
                />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Usage Per Email</mat-label>
                <input
                  matInput
                  type="number"
                  numbersOnly
                  formControlName="usage_per_email"
                />
              </mat-form-field>

              <mat-checkbox formControlName="single_use_per_order">
                Allow only one coupon per order
              </mat-checkbox>

              <mat-form-field>
                <mat-label>Start Date </mat-label>
                <input matInput type="date" formControlName="start_date" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>End Date </mat-label>
                <input matInput type="date" formControlName="end_date" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>Status </mat-label>
                <mat-select formControlName="status">
                  <mat-option value="active">Active</mat-option>
                  <mat-option value="inactive">Inactive</mat-option>
                </mat-select>
              </mat-form-field>
            </form>
          </div>
          <div class="p-1">
            <button
              (click)="onSubmit()"
              [disabled]="formGroup.disabled"
              class="btn-primary"
            >
              {{ formGroup.disabled ? "Please wait..." : "Save & Continue" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
