<div class="table-wrapper">
  <table class="table-base">
    <thead class="">
      <tr class="">
        <th scope="col"></th>
        <th scope="col">Label</th>
        <th scope="col">Type</th>
        <th scope="col">Required</th>
        <th scope="col">Visiable</th>
        <th scope="col" class="text-center">Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
      <ng-container *ngFor="let item of item_list">
        <tr>
          <td></td>
          <td cdkDrag class="cursor-move">
            {{ item?.label }}
          </td>
          <td>{{ item?.type }}</td>
          <td>
            {{ item?.required ? "Yes" : "No" }}
          </td>
          <td>
            {{ item?.visible ? "Yes" : "No" }}
          </td>
          <td class="text-center">
            <button [disabled]="!permissions.includes('edit')" type="button" class="table-status cursor-pointer" [class]="item?.status" (click)="updateStatus(item)" [attr.aria-label]="'Change status: ' + item?.status">
              {{ item?.status }}
            </button>
          </td>
          <td class="text-center">
            <app-menu
              [modalItem]="permissions.includes('edit') ? item : null"
              (initModal)="addItem($event)"
              (deleteItem)="deleteItem($event)"
              [delete]="permissions.includes('delete') ? item : null"
            ></app-menu>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!item_list?.length">
        <tr>
          <td class="text-center" colspan="7"><app-empty-state message="No Items Found"></app-empty-state></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-container>
  <pagination
    [pagination]="paginationOption"
    (pageChange)="onPageChange($event)"
  ></pagination>
</ng-container>
