<div class="table-wrapper">
  <table class="table-base">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col" class="text-center">Default</th>
        <th scope="col" class="text-center">Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of item_list">
        <tr>
          <td>{{ item?.name }}</td>
          <td>{{ item?.description }}</td>
          <td class="text-center">
            <mat-icon *ngIf="item?.is_default" class="!text-[18px]">check_circle</mat-icon>
          </td>
          <td class="text-center">
            <span class="table-status" [class]="item?.status">
              {{ item?.status }}
            </span>
          </td>
          <td class="text-center">
            <app-menu [modalItem]="permissions.includes('edit') ? item : null" (initModal)="addItem($event)"
              (deleteItem)="deleteItem($event)" [delete]="permissions.includes('delete') ? item : null"></app-menu>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!item_list?.length">
        <tr>
          <td class="text-center" colspan="5"><app-empty-state message="No Shipping Classes Found"></app-empty-state></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-container>
  <pagination [pagination]="paginationOption" (pageChange)="onPageChange($event)"></pagination>
</ng-container>
