<div class="action-btns"></div>
<div class="table-wrapper">
  <table class="table-base">
    <thead class="">
      <tr class="">
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Interest In</th>
        <th scope="col">Phone</th>
        <th scope="col">Message</th>
        <th scope="col" class="text-center">Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of item_list">
        <tr>
          <td></td>
          <td>{{ item?.name }}</td>
          <td>{{ item?.email }}</td>
          <td>{{ item?.subject }}</td>
          <td>{{ item?.phone }}</td>
          <td>
            <div [innerHTML]="item.message" [appReadMoreClamp]="110" readMoreLabel="Read More"
              readLessLabel="Read Less"></div>
          </td>
          <td class="text-center">
            <button type="button" class="table-status cursor-pointer" [class]="item?.status"
              (click)="updateStatus(item)" [attr.aria-label]="'Change status: ' + item?.status">
              {{ item?.status }}
            </button>
          </td>
          <td class="text-center">
            <app-menu (deleteItem)="deleteItem($event)"
              [delete]="permissions.includes('delete') ? item : null"></app-menu>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!item_list?.length">
        <tr>
          <td class="text-center" colspan="8"><app-empty-state message="No Items Found"></app-empty-state></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-container>
  <pagination [pagination]="paginationOption" (pageChange)="onPageChange($event)"></pagination>
</ng-container>