<nav
  *ngIf="breadcrumbs?.length"
  aria-label="Breadcrumb"
  class="crumb-bar mx-3 mt-2 flex flex-wrap items-center justify-between gap-1 rounded-lg px-3 py-2 text-sm"
>
  <div class="crumb-trail">
    <!-- Optional OTHERS section -->
    <ng-container *ngIf="settingsOutlet || usersOutlet">
      <span class="crumb-link crumb-parent">Others</span>
      <mat-icon class="crumb-sep" aria-hidden="true">chevron_right</mat-icon>
    </ng-container>

    <!-- Breadcrumb items -->
    <ng-container *ngFor="let item of breadcrumbs; let l = last">
      <a
        *ngIf="!l"
        class="crumb-link crumb-parent"
        [routerLink]="[item?.url]"
      >
        {{ item?.label }}
      </a>
      <span *ngIf="l" class="crumb-link crumb-current" aria-current="page">{{ item?.label }}</span>
      <mat-icon *ngIf="!l" class="crumb-sep" aria-hidden="true">chevron_right</mat-icon>
    </ng-container>
  </div>

  <div class="flex items-center gap-2 flex-wrap">
    <ng-container *ngIf="viewToggle?.extraActions?.length">
      <button
        type="button"
        class="link-btn"
        *ngFor="let action of viewToggle?.extraActions"
        (click)="triggerViewAction(action.key)"
      >
        <mat-icon class="text-base" *ngIf="action.icon">{{ action.icon }}</mat-icon>
        {{ action.label }}
      </button>
    </ng-container>

    <div class="view-mode-switch" *ngIf="viewToggle as vt">
      <button
        type="button"
        class="view-mode-btn"
        *ngFor="let option of vt.options"
        [class.active]="vt.active === option.value"
        (click)="selectViewOption(option.value)"
      >
        <mat-icon class="text-base" *ngIf="option.icon">{{ option.icon }}</mat-icon>
        {{ option.label }}
      </button>
    </div>

    <ng-container *ngIf="selectionAction as sel">
      <span class="selection-count">{{ sel.count }} selected</span>
      <button
        type="button"
        class="add-new-btn"
        [attr.aria-label]="sel.label"
        [title]="sel.label"
        (click)="triggerSelectionAction()"
      >
        <mat-icon class="text-base" *ngIf="sel.icon">{{ sel.icon }}</mat-icon>
        {{ sel.label }}
      </button>
      <button type="button" class="link-btn" aria-label="Clear selection" (click)="clearSelection()">
        Clear
      </button>
    </ng-container>

    <button
      type="button"
      *ngIf="actionButton"
      class="add-new-btn"
      [attr.aria-label]="actionButton.label"
      [title]="actionButton.label"
      (click)="triggerAction()"
    >
      <mat-icon class="text-base">{{ actionButton.icon || 'add' }}</mat-icon>
      {{ actionButton.label }}
    </button>

    <a *ngIf="helperService.secondaryLink | async as link" class="filters-btn" [routerLink]="link.url" [attr.aria-label]="link.label" [title]="link.label">
      <mat-icon class="text-base">{{ link.icon }}</mat-icon>{{ link.label }}
    </a>

    <button
      type="button"
      *ngIf="filterButton"
      class="filters-btn"
      aria-label="Open filters"
      title="Open filters"
      (click)="openFilters()"
    >
      <mat-icon class="text-base">tune</mat-icon>
      Filters
      <span class="filters-count" *ngIf="filterButton.count > 0">{{
        filterButton.count
      }}</span>
    </button>
  </div>
</nav>
