<nav
  *ngIf="breadcrumbs?.length"
  aria-label="Breadcrumb"
  class="crumb-bar mx-3 mt-2 flex flex-wrap items-center justify-between gap-1 rounded-lg px-3 py-2 text-sm"
>
  <div class="flex flex-wrap items-center gap-1">
    <!-- Optional OTHERS section -->
    <ng-container *ngIf="settingsOutlet || usersOutlet">
      <a class="crumb-link" [routerLink]="">Others</a>
      <mat-icon class="crumb-sep">chevron_right</mat-icon>
    </ng-container>

    <!-- Breadcrumb items -->
    <ng-container *ngFor="let item of breadcrumbs; let l = last">
      <a
        class="crumb-link"
        [routerLink]="[item?.url]"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLinkActive="crumb-active"
      >
        {{ item?.label }}
      </a>
      <mat-icon *ngIf="!l" class="crumb-sep">chevron_right</mat-icon>
    </ng-container>
  </div>

  <div class="flex items-center gap-2 flex-wrap">
    <ng-container *ngIf="viewToggle?.extraActions?.length">
      <button
        type="button"
        class="link-btn"
        *ngFor="let action of viewToggle?.extraActions"
        (click)="triggerViewAction(action.key)"
      >
        <mat-icon class="text-base" *ngIf="action.icon">{{ action.icon }}</mat-icon>
        {{ action.label }}
      </button>
    </ng-container>

    <div class="view-mode-switch" *ngIf="viewToggle as vt">
      <button
        type="button"
        class="view-mode-btn"
        *ngFor="let option of vt.options"
        [class.active]="vt.active === option.value"
        (click)="selectViewOption(option.value)"
      >
        <mat-icon class="text-base" *ngIf="option.icon">{{ option.icon }}</mat-icon>
        {{ option.label }}
      </button>
    </div>

    <button
      type="button"
      *ngIf="actionButton"
      class="add-new-btn"
      (click)="triggerAction()"
    >
      <mat-icon class="text-base">{{ actionButton.icon || 'add' }}</mat-icon>
      {{ actionButton.label }}
    </button>

    <button
      type="button"
      *ngIf="filterButton"
      class="filters-btn"
      (click)="openFilters()"
    >
      <mat-icon class="text-base">tune</mat-icon>
      Filters
      <span class="filters-count" *ngIf="filterButton.count > 0">{{
        filterButton.count
      }}</span>
    </button>
  </div>
</nav>
