<div class="action-btns"></div>
<div class="table-wrapper">
  <table class="table-base">
    <thead class="">
      <tr class="">
        <th scope="col">Sl.No.</th>
        <th scope="col">ID</th>
        <th scope="col">Product</th>
        <th scope="col">Customer</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Message</th>
        <th scope="col" class="text-center">Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of item_list; let i = index">
        <tr>
          <td class="text-center">{{ i + 1 }}</td>
          <td>{{ item?.custom_id }}</td>
          <td>{{ item?.product_name }}</td>
          <td>{{ item?.name }}</td>
          <td>{{ item?.email }}</td>
          <td>{{ item?.mobile }}</td>
          <td>
            <div
              [innerHTML]="item.message"
              [appReadMoreClamp]="110"
              readMoreLabel="Read More"
              readLessLabel="Read Less"
            ></div>
          </td>
          <td class="text-center cursor-pointer" (click)="updateStatus(item)">
            <span class="table-status" [class]="item?.status">
              {{ item?.status }}
            </span>
          </td>
          <td class="text-center">
            <app-menu
              (deleteItem)="deleteItem($event)"
              [delete]="permissions.includes('delete') ? item : null"
            ></app-menu>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!item_list?.length">
        <tr>
          <td class="text-center" colspan="8">No Items Found</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-container>
  <pagination
    [pagination]="paginationOption"
    (pageChange)="onPageChange($event)"
  ></pagination>
</ng-container>
