<p *ngIf="loading" role="status" class="p-4 text-sm text-gray-500">Loading reviews…</p>
<div *ngIf="loadError" role="alert" class="p-4 text-sm">
  Reviews could not be loaded. <button type="button" class="underline" (click)="fetchRating()">Try again</button>
</div>
<div class="table-wrapper" [attr.aria-busy]="loading">
  <table class="table-base">
    <thead class="">
      <tr class="">
        <th scope="col"></th>
        <th scope="col">Customer</th>
        <th scope="col">Product</th>
        <th scope="col">Reviews</th>
        <th scope="col">Rating</th>
        <th scope="col" class="text-center">Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let item of item_list">
        <tr>
          <td>
            <img *ngIf="item?.image?.url" [src]="item?.image?.url" alt="Image" loading="lazy" />
          </td>
          <td>{{ item?.user?.name }} <span *ngIf="item?.imported_from_backup" class="inline-block rounded bg-blue-100 px-2 py-0.5 text-xs text-blue-800" title="Created by the WooCommerce backup import">Imported</span></td>
          <td>{{ item?.product?.name }}</td>
          <td>
            <div [innerHTML]="item.description" [appReadMoreClamp]="110" readMoreLabel="Read More"
              readLessLabel="Read Less"></div>
          </td>
          <td>{{ item?.rating }}</td>
          <td class="text-center">
            <button [disabled]="!permissions.includes('edit')" type="button" class="table-status cursor-pointer" [class]="item?.status"
              (click)="updateStatus(item)" [attr.aria-label]="'Change status: ' + item?.status">
              {{ item?.status }}
            </button>
          </td>
          <td class="text-center">
            <app-menu (deleteItem)="deleteItem($event)"
              [delete]="permissions.includes('delete') ? item : null"></app-menu>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!loading && !loadError && !item_list?.length">
        <tr>
          <td class="text-center" colspan="7"><app-empty-state message="No Items Found"></app-empty-state></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-container>
  <pagination [pagination]="paginationOption" (pageChange)="onPageChange($event)"></pagination>
</ng-container>