<div class="bg-gray">
  <form class="w-full mt-3 bg-white p-3" [formGroup]="formGroup">
    <div class="space-y-1">
      <h3 class="flex justify-between items-center">
        Images
        <button (click)="chooseFile()">New File</button>
      </h3>
      <ng-select
        [class.is-invalid]="!Global.isInputValid(formGroup, 'images')"
        formControlName="images"
        [multiple]="true"
        [maxSelectedItems]="4"
        placeholder="Select"
        (scrollToEnd)="loadMoreItems()"
        (search)="searchSubject.next($event)"
      >
        <ng-option *ngFor="let item of images" [value]="item._id">
          <div class="flex items-center">
            <img
              *ngIf="item?.url"
              [src]="item?.url"
              alt="Image"
              style="width: 100px; height: 100px; margin-right: 10px"
            />
            {{ item.alt_text }}
          </div>
        </ng-option>
      </ng-select>
      <mat-error
        *ngIf="!Global.isInputRuleValid(formGroup, 'images', 'required')"
      >
        This field is required
      </mat-error>
    </div>
    <hr />
    <div class="flex mt-3 justify-end">
      <button
        (click)="onSubmit()"
        [disabled]="formGroup.disabled"
        class="ai-button"
      >
        {{ formGroup.disabled ? "Please wait..." : "Save & Continue" }}
      </button>
    </div>
  </form>
</div>
