<a href="#main-content" class="skip-to-content-link">Skip to main content</a>
<div class="page-wrapper">
  <div
    *ngIf="!device.isDesktop() && navService.isMenuOpen"
    class="sidenav-backdrop"
    (click)="navService.closeMenu()"
  ></div>

  <div
    class="sidenav-wrapper"
    [class.left-wrapper]="device.isDesktop()"
    [class.sidenav-collapsed]="device.isDesktop() && !navService.isSideNavOpen"
    [class.sidenav-mobile]="!device.isDesktop()"
    [class.sidenav-mobile-open]="!device.isDesktop() && navService.isMenuOpen"
  >
    <app-side-nav
      [isNavOpen]="device.isDesktop() ? navService.isSideNavOpen : true"
    ></app-side-nav>
  </div>
  <div class="right-wrapper">
    <app-header></app-header>
    <app-breadcums></app-breadcums>
    <main
      id="main-content"
      class="outlet"
      [class]="breadcrumbs?.length ? '' : 'full-outlet'"
    >
      <!-- <div [class]="pagesOutlet || !breadcrumbs?.length ? '' : 'content-box'"> -->
      <router-outlet></router-outlet>
      <!-- </div> -->
    </main>
  </div>
</div>
