<div class="action-btns">
  <button
    (click)="addItem()"
    *ngIf="permissions.includes('add')"
    matTooltip="Add New Category"
    class="btn-add"
  >
    <mat-icon class="text-xs">add</mat-icon>
    Add New
  </button>
</div>

<div class="table-wrapper">
  <table class="table-base">
    <thead>
      <tr class="sticky">
        <th scope="col" class="text-center"></th>
        <th scope="col">Name</th>
        <th scope="col" (click)="sort('parent_category')" class="sortable">
          Parent Category <span [class]="getSortIcon('parent_category')"></span>
        </th>
        <th scope="col">Products</th>
        <th scope="col" class="text-center">Status</th>
        <th class="text-center">Action</th>
      </tr>
    </thead>
    <tbody cdkDropList (cdkDropListDropped)="drop($event)">
      <ng-container *ngFor="let item of item_list">
        <tr>
          <td class="text-center">
            <img
              *ngIf="item?.image?.url"
              [src]="item?.image?.url"
              alt="Image"
              height="40"
            />
          </td>
          <td cdkDrag class="cursor-move">
            <a [routerLink]="'/inventory/categories/' + item?.slug">{{
              item?.name
            }}</a>
          </td>
          <td scope="col">
            {{ item?.parent_category?.name }}
          </td>

          <td>
            <a [routerLink]="'/inventory/products/' + item?.slug">{{
              item?.products
                ? item.products + " Product" + (item.products > 1 ? "s" : "")
                : ""
            }}</a>
          </td>
          <td class="text-center cursor-pointer" (click)="updateStatus(item)">
            <span class="table-status" [class]="item?.status">
              {{ item?.status }}
            </span>
          </td>
          <td class="text-center">
            <app-menu
              [modalItem]="permissions.includes('edit') ? item : null"
              (initModal)="addItem($event)"
              (deleteItem)="deleteItem($event)"
              [delete]="permissions.includes('delete') ? item : null"
            ></app-menu>
          </td>
        </tr>
      </ng-container>
      <ng-container *ngIf="!item_list?.length">
        <tr>
          <td class="text-center" colspan="5">No Items Found</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
<ng-container>
  <pagination
    [pagination]="paginationOption"
    (pageChange)="onPageChange($event)"
  ></pagination>
</ng-container>
